*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form{
    margin: 2%;
    padding: 2%;
}
.title{
    display: block;
    margin-bottom: 1em;
}
.btn{
       margin-top: 1em;
    font-family: sans-serif;
    border-radius: 20%;
    background: none;
    color: black;
}
